@import "../variables";

.planCard{
    border: 1px solid hsl(0, 0%, 90%);
    flex: 1;
    max-width: 20%;
    &__title{
        background-color: $primaryColor;
        color: $backgroundColor;
        text-align: center;
        padding: 0 0.5em;
        padding-top: 1em;
        .title__heading{
            color: $textColor;
            text-transform: uppercase;
            border-bottom: 1px solid $textColor;
            padding-bottom: 1em;
            max-width: 80%;
            margin: 0 auto;
            font-weight: 400;
        }
       
        .title__summary{
            margin: 0;
            font-weight: bold;
        }
        .title__price{
            font-size: 300%;
            font-weight: 700;
            margin: 0;
            line-height: 90%;
            &::first-letter{
                font-size: 40%;
                vertical-align: super;

            }
        }

        .title__conditions{
            font-weight: 700;
            font-size: 80%;
        }

        .title__link{
            background: linear-gradient($secondaryColor, $primaryColor);
            padding: 0.5em  1em;
            color: $backgroundColor;
            text-decoration: none;
            font-weight: 700;
            display: inline-block;
            transform: translateY(.8em);
            &--caps{
                text-transform: uppercase;
            }
        }
        
    }
    &__features{
        background-color: white;
        padding: 1em 0.5em;
        .features__heading{
            text-align: center;
            text-transform: uppercase;
            font-size: 80%;
        }
        .features__getFrom{
            font-size: 80%;
            color: hsl(0, 0%, 30%);
            font-weight: 700;
        }
        .features__list{
            margin: 0;
            padding: 0;
            list-style: none;
            .list__item{
                margin: .5em 0;
                padding: 0;
                font-size: 80%;
                color: hsl(0, 0%, 30%);
            }
        }
        
    }
}