@import "variables"; 
html, body{
    margin: 0;
    padding: 0;
    font-family: $fontStack;
    background-color: $backgroundColor;
    color:$textColor; 
    font-size: $fontSize; 
    &.modal--open {
        height: 100vh;
        overflow-y: hidden;
    }
}